body {
    background-image: url('https://img.freepik.com/free-vector/clean-medical-background_53876-97927.jpg?size=626&ext=jpg&ga=GA1.1.2138378975.1712241163&semt=ais');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section, .container, .subContainer {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subContainer {
    border: 3px solid #a9e0d9;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 30px 80px;
    background-color: #e6e6e6;
    overflow: hidden; /* Add overflow: hidden to contain the table within its frame */
}

.subContainer h5 {
    font-size: 32px;
    margin-bottom: 40px;
    font-weight: bold;
    color: #61a9a2;
    margin-top: 20px;
    text-align: center;
}

.tabContainer {
    display: flex;
    flex-direction: row; /* Change flex direction to row */
    width: 100%; /* Adjust width */
}

.tab {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px 5px 0 0;
    background-color: #f0f0f0; /* Background color for the tab */
    margin-right: 5px; /* Adjust spacing between tabs */
}

.tab.active {
    background-color: #a9e0d9; /* Color for the active tab */
}

.tabContent {
    border: 3px solid #a9e0d9;
    border-radius: 0 0 5px 5px;
    padding: 20px;
    background-color: #f9f9f9;
    width: calc(100% - 10px); /* Adjust width to accommodate borders and margins */
    height: 280px; /* Set a fixed height for the tab content */
    overflow-y: auto; /* Enable vertical scrolling */
}

thead, tbody, tr, td {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  

.btn, .btn-link {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #a9e0d9;
    color: black;
    border: none;
    margin: 5px;
}

.btn:hover, .btn-link:hover {
    background-color: #e0e0e0;
}
